<form (ngSubmit)="onSubmit()">
  <img src="user.png">
  <input type="number" placeholder="Número" name="numero" [(ngModel)]="numero" class="form-control" >
  <input type="text" placeholder="Rua" name="rua" [(ngModel)]="rua" class="form-control" >
  <input type="text" placeholder="Bairro" name="bairro" [(ngModel)]="bairro" class="form-control" >
  <input type="text" placeholder="Cidade" name="cidade" [(ngModel)]="cidade" class="form-control" >
  <input type="text" placeholder="Cep" name="cep" [(ngModel)]="cep" class="form-control" >
  <input type="text" placeholder="Estado" name="estado" [(ngModel)]="estado" class="form-control" >
  <input type="submit" value="cadastrar" class="btn btn-success">
<!--  <input type="button" value="alterar"  class="btn btn-primary">-->
<!--  <input type="button" value="remover"  class="btn btn-danger">-->
<!--  <input type="button" value="cancelar"  class="btn btn-secondary">-->
</form>

<table class="table">
  <thead>
      <tr>
        <th>Número</th>
        <th>Rua</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>CEP</th>
        <th>Estado</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let endereco of enderecos">
        <td>{{endereco.numero}}</td>
        <td>{{endereco.rua}}</td>
        <td>{{endereco.bairro}}</td>
        <td>{{endereco.cidade}}</td>
        <td>{{endereco.cep}}</td>
        <td>{{endereco.estado}}</td>
        <td><input type="button" value="remover" (click)="onDelete(endereco)" class="btn btn-danger"></td>
      </tr>
  </tbody>
</table>



